body
{
    background: #393939;
    font-family: 'Roboto', thin;
    height: 3800px;
}

a.nav-expander
{
    background: #ffffff;
    color: #ffffff;
    font-size: 15px;
    height: 50px;
    width: 130px;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 49px;
    position: absolute;
    text-decoration: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 12;

    -webkit-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;

}
 
a.nav-expander:hover
{
    background: #e5e5e5;
    cursor: pointer;
    
    -webkit-transition: left 0.3s ease-in-out 0s, , background 0.4s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    
}

/*menu button lines*/
#menuButton, #menuButtonTop, #menuButtonBottom
{
    height: 2px;
    background: #000000;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    margin-top: 6px;
    
    -webkit-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -moz-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -o-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
}

a.nav-expander:hover #menuButtonTop, a.nav-expander:hover #menuButtonBottom
{
    margin-left: 25%;
    width: 50%;
    background: #ff3b3f;
    
    -webkit-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -moz-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -o-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
}

a.nav-expander:hover #menuButton
{
    background: #ff3b3f;
}
 
/*menu button movement*/
 
.nav-expanded a.nav-expander.fixed
{
    right: 20em;
}

 
body.nav-expanded
{
    margin-left: 0em;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -moz-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
    transition: left 0.4s ease-in-out 0s;
}


.navbar-brand
{
    left: 0em;
}

#titleDiv
{
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    padding: 0;
    padding-top: 10px;
    margin: 0 auto;

    
}

/*Title word*/

#titleName
{
    position: fixed;
    dispay: block;
    font-family: 'PanamaBold';
    font-size: 25px;
    left: 50%;
    width: 250px;
    color: #000000;
    margin: 0 auto;
    
    text-align: center;
    text-decoration: none;
    
    -webkit-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    
    transform: translate(-50%);
    z-index: 19;
}

#titleName:hover
{
    color: #ff595c;
}

/*moves title name on expanded*/
.nav-expanded #titleName
{
    left: 65%;
    
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s;
}
 
#nav-close
{
    font-family: 'Roboto', thin;
    font-weight: 300;
    font-size: 24px;
    padding-right: 10px;
}

.navbar-inverse
{
    background-color: #ffffff;
    border: 0px;
    
/*
    background: -webkit-linear-gradient(rgba(0, 0, 0, .1), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, .2), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, .13), transparent);
    background: linear-gradient(rgba(0, 0, 0, .0), #ffffff);
*/
}

/************/
/*Menu items*/
/************/
nav
{
  background: #ffffff;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
 
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.nav-expanded nav
{
  left: 0;
}

.main-menu
{
    padding-top: 5px;
}

.main-menu li
{
    border-bottom: 1px solid #89e9ff;
    font-size: 18px;
    margin-left: 20px;
    padding: 12px;
}

.main-menu li a
{
    color: #000000;
    text-decoration: none;
    line-height: 50px;
    
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
}
 
.main-menu li a:hover
{
    color: #ff3b3f;
    text-decoration: none;
    
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
}
 
.main-menu li .sub-nav
{
  border-bottom: 0px;
  padding: 4px;
}
 
.icon:before
{
    text-transform: none;
}
 
.main-menu li > a > span.icon
{
    float: right;
    margin: 0.1em 1.7em -0.1em 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
 
}
 
.main-menu li > a:hover >span.icon
{
    float: right;
    margin: 0.1em 0.8em -0.1em 0;
    opacity: 1;
}

/*fonts*/

@font-face
{
    font-family: 'PanamaBold';
    src: url('/fonts/Panama-Bold.ttf');
}

@font-face
{
    font-family: 'PanamaLight';
    src: url('/fonts/Panama-Light.ttf');
}
