:root 
{
    --main-color:#f517aa;
    --secondary-color:#ff595c;
    --main-black-color:#121212;
    --main-grey-color:#5b5e63;
    --main-white-color:#ededed;
    --main-body-color:#393939;
}

body
{
    background: var(--main-body-color);
    font-family: 'Roboto', thin;
    height: 1270px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

a:hover
{
    text-decoration: none;    
}


a.nav-expander
{
    background: #ffffff;
    color: #ffffff;
    font-size: 15px;
    height: 50px;
    width: 130px;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 49px;
    position: absolute;
    text-decoration: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 12;

    -webkit-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, background 1s ease-in-out 0s;

}
 
a.nav-expander:hover
{
    background: #e5e5e5;
    cursor: pointer;
    
    -webkit-transition: left 0.3s ease-in-out 0s, , background 0.4s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, background 0.4s ease-in-out 0s;
    
}

/*menu button lines*/
#menuButton, #menuButtonTop, #menuButtonBottom
{
    height: 2px;
    background: #000000;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    margin-top: 6px;
    
    -webkit-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -moz-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -o-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
}


a.nav-expander:hover #menuButtonTop, a.nav-expander:hover #menuButtonBottom
{
    margin-left: 25%;
    width: 50%;
    background: var(--main-color);
    
    -webkit-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -moz-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    -o-transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
    transition: width 0.2s ease-in-out 0s, margin 0.2s ease-in-out 0s;
}

a.nav-expander:hover #menuButton
{
    background: var(--secondary-color);
}
 
/*menu button movement*/
 
.nav-expanded a.nav-expander.fixed
{
    right: 20em;
}

 
body.nav-expanded
{
    margin-left: 0em;
    -webkit-transition: left 0.4s ease-in-out 0s;
    -moz-transition: left 0.4s ease-in-out 0s;
    -o-transition: left 0.4s ease-in-out 0s;
    transition: left 0.4s ease-in-out 0s;
}


.navbar-brand
{
    left: 0em;
}

#titleDiv
{
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    padding: 0;
    padding-top: 10px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#titlePic
{
    background-image: url(/assets/AgoraClean.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
/*    border: 1px solid red;*/
    z-index: -1;
    
    -webkit-transition: filter 0.4s ease-in-out 0s;
    -moz-transition: filter 0.4s ease-in-out 0s;
    -o-transition: filter 0.4s ease-in-out 0s;
    transition: filter 0.4s ease-in-out 0s;
}

/*affect child on parent hover*/
#titleName:hover #titlePic
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    
    -webkit-transition: filter 0.4s ease-in-out 0s;
    -moz-transition: filter 0.4s ease-in-out 0s;
    -o-transition: filter 0.4s ease-in-out 0s;
    transition: filter 0.4s ease-in-out 0s;
}

/*Title word*/

#titleName
{
    position: fixed;
    dispay: block;
    font-family: 'PanamaBold';
    font-size: 25px;
    left: 50%;
    width: 150px;
    color: #000000;
    margin: 0 auto;
    
    text-align: center;
    text-decoration: none;
    
    -webkit-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s, color 0.4s ease-in-out 0s;
    
    transform: translate(-50%);
    z-index: 10;
}

#titleName:hover
{
    color: var(--main-color);
}

#loginBtn
{
    
    position: fixed;
    color: #000000;
    background-color: #ffffff;
	background-size: cover;
    top: 10px;
    right: 85px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ffffff;
    text-align: center;
    
    -webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

#loginBtn:hover
{
    color: #ffffff;
    background-color: var(--main-color);
    
    -webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

#regBtn, #signOut
{
    
    position: fixed;
    color: #ffffff;
    background-color: var(--main-color);
    height: 30px;
    width: 60px;
    top: 10px;
    right: 15px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid var(--main-color);
    text-align: center;
    
    -webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}



#regBtn:hover, #signOut:hover
{
    color: #000000;
    background-color: #ffffff;
    
    -webkit-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

#signOut
{
	visibility: hidden;
}


/*
#userIcon
{
    background-image: url(/assets/agoraPlaceholder.png);
    background-position: center;
    background-size: cover;
    
    position: fixed;
    height: 40px;
    width: 40px;
    top: 5px;
    right: 10px;
    border-radius: 20px;
    border: 1px solid #ff595c;
}
*/

/*moves title name on expanded*/
.nav-expanded #titleName
{
    left: 62%;
    
    -webkit-transition: left 0.3s ease-in-out 0s;
    -moz-transition: left 0.3s ease-in-out 0s;
    -o-transition: left 0.3s ease-in-out 0s;
    transition: left 0.3s ease-in-out 0s;
}
 
/*x button on slide-out m enu*/
#nav-close
{
    font-family: 'Roboto', thin;
    font-weight: 300;
    font-size: 26px;
    padding-right: 10px;
}

.navbar-inverse
{
    background-color: #ffffff;
    border: 0px;
    
/*
    background: -webkit-linear-gradient(rgba(0, 0, 0, .1), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, .2), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, .13), transparent);
    background: linear-gradient(rgba(0, 0, 0, .0), #ffffff);
*/
}

/************/
/*Menu items*/
/************/
nav
{
  background: #ffffff;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
 
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.nav-expanded nav
{
  left: 0;
}

.main-menu
{
    padding-top: 5px;
}


/*menu border color*/
.main-menu li
{
    border-bottom: 1px solid var(--main-color);
    font-size: 18px;
    margin-left: 20px;
    padding: 12px;
}

.main-menu li a
{
    color: #000000;
    font-family: 'PanamaLight';
    text-decoration: none;
    line-height: 50px;
    
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
}
 
.main-menu li a:hover
{
    color: var(--secondary-color);
    text-decoration: none;
    
    -webkit-transition: color 0.2s ease-in-out 0s;
    -moz-transition: color 0.2s ease-in-out 0s;
    -o-transition: color 0.2s ease-in-out 0s;
    transition: color 0.2s ease-in-out 0s;
}
 
.main-menu li .sub-nav
{
  border-bottom: 0px;
  padding: 4px;
}
 
.icon:before
{
    text-transform: none;
}
 
/*menu option arrows*/
.main-menu li > a > span.icon
{
    float: right;
    margin: 0.1em 1.7em -0.1em 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
 
}
 
.main-menu li > a:hover >span.icon
{
    float: right;
    margin: 0.1em 0.8em -0.1em 0;
    opacity: 1;
}

#splashDiv
{
    background: #000000;
    padding: 0;
    width: 100%;
    height: 300px;
	padding-left: 10px;
}

#splashRow
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
/*    border: 1px solid green;*/
}

#splashLogo
{
    height: 100%;
    background-image: url(/assets/AgoraTextDemo3Trans.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#splashTextBox
{
    height: 100%;
    padding: 0 auto;
	margin: 0 auto;
    background-position: center;
    background-size: cover;
}

#splashText
{
    background: transparent;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
    background-position: center;
    background-size: cover;
}

#learnMore
{
    text-decoration: none;
    color: var(--main-color);
    font-size: 25px;
    background: transparent;
    border: none;
    margin-top: 10px;
    
    -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

#learnMore:hover
{
    text-decoration: none;
    color: var(--main-white-color);
    font-size: 25px;
    background: var(--secondary-color);
    border: none;
    
    -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

#searchDiv
{
    background: var(--main-grey-color);
    padding-top: 35px;
    height: 120px;
    width: 100%;
/*    border: 1px solid red;*/
}

.input-group-lg
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.glyphicon-search
{
    color: var(--main-color);
}

.form-control
{
    color: #ff595c;
}

.form-control::-webkit-input-placeholder
{
    color: var(--main-color);
    opacity: .45;
}

#servTrans
{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(180deg, #5b5e63 50%, var(--main-body-color) 50%);
    
}

#servLabelDiv
{
    font-family: 'PanamaLight';
    width: 100%;
    height: 140px;
    margin: 0 auto;
    background: var(--main-white-color);
    color: var(--main-color);
    font-size: 55px;
    text-align: center;
    
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#servSub
{
    font-family: 'Comfortaa';
    margin: 0 auto;
    color: #939393;
    font-size: 20px;
    text-align: center;
}

#servDivOut
{
    background: var(--main-body-color);
    width: calc(100vw - ((100vw - 100%)));
    height: 100vw;
    margin: 0 auto;
    padding: 70px;
}

#servDivInner, #servDivInner2
{
	width: 100%;
    height: 100%;
    padding: 0;
/*    border: 1px solid red;*/
}

#servDivInner
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#servRow
{
    width: 100%;
    height: 33.33%;
    margin: 0 auto;
/*    border: 1px solid green;*/
}

#servCol
{
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    padding: 0;
	
	transition: all .2s ease-in-out;
/*    border: 1px solid blue;*/
}

#servCol:hover
{
	box-shadow: 0 19px 38px rgba(0,0,0,0.05), 0 15px 12px rgba(0,0,0,0.05);
	
	transition: all .2s ease-in-out;
}

#hair, #tutor, #nails, #salon, #shoes, #repair, #tailor, #producer, #trainer
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
/*    border: 1px solid yellow;*/
    
    transition: all .2s ease-in-out;
}

#hair:hover, #tutor:hover, #nails:hover, #salon:hover, #shoes:hover, #repair:hover, #tailor:hover, #producer:hover, #trainer:hover
{
    transform: scale(1.1);
    filter:blur(4px);
    
    transition: all .2s ease-in-out;
}

#hairClick, #tutorClick, #nailsClick, #salonClick, #shoesClick, #repairClick, #tailorClick, #producerClick, #trainerClick
{
    padding: 0;
    margin: 0 auto;
}


#servTextHair, #servTextTutor, #servTextNails, #servTextSalon, #servTextShoes, #servTextRepair, #servTextTailor, #servTextProducer, #servTextTrainer
{
    font-family: 'PanamaLight';
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 40%;
    padding-bottom: 40%;
    opacity: 0;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    
    font-size: 30px;
    color: #ffffff;
}

#servTextHair:hover, #servTextTutor:hover, #servTextNails:hover, #servTextSalon:hover, #servTextShoes:hover, #servTextRepair:hover, #servTextTailor:hover, #servTextProducer:hover, #servTextTrainer:hover
{
    opacity: 1;
    transition: all .2s ease-in-out;
}

#servTextHair:hover + #hair, #servTextTutor:hover + #tutor, #servTextNails:hover + #nails, #servTextSalon:hover + #salon, #servTextShoes:hover + #shoes, #servTextRepair:hover + #repair, #servTextTailor:hover + #tailor, #servTextProducer:hover + #producer, #servTextTrainer:hover + #trainer
{
    transform: scale(1.1);
    filter: blur(4px);
    
    transition: all .2s ease-in-out;
}

#hair
{
    background-image: url(/assets/haircut.jpg);
}

#tutor
{
    background-image: url(/assets/tutor.jpg);
}

#nails
{
    background-image: url(/assets/nails.jpg);
}

#salon
{
    background-image: url(/assets/salon.png);
}

#shoes
{
    background-image: url(/assets/shoes.png);
}

#repair
{
    background-image: url(/assets/phone.jpg);
}

#tailor
{
    background-image: url(/assets/tailor.jpg);
}

#producer
{
    background-image: url(/assets/producer1.jpg);
}

#trainer
{
    background-image: url(/assets/trainer.jpg);
}




#barberEx1, #barberEx2, #barberEx3, #barberEx4
{
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 75%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	transition: all .2s ease-in-out;
}

#barberEx1
{
	background-image: url(/assets/barberex1.png);
}

#barberEx2
{
	background-image: url(/assets/barberex2.png);
}

#barberEx3
{
	background-image: url(/assets/barberex3.png);
}

#barberEx4
{
	background-image: url(/assets/barberex4.png);
}

#barberEx1Text, #barberEx2Text, #barberEx3Text, #barberEx4Text
{
	background: var(--main-white-color);
	color: var(--main-black-color);
	padding: 5%;
	height: 25%;
	width: 100%;
	font-family: 'PanamaLight';
	text-align: center;
	font-size: 125%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
	transition: all .2s ease-in-out;
	
}

#barberEx1:hover, #barberEx2:hover, #barberEx3:hover, #barberEx4:hover
{
	transform: scale(1.1);
	
	transition: all .2s ease-in-out;
}


#barberEx1:hover + #barberEx1Text, #barberEx2:hover + #barberEx2Text, #barberEx3:hover + #barberEx3Text, #barberEx4:hover + #barberEx4Text
{
	color: var(--main-color);
	font-size: 140%;
	transition: all .2s ease-in-out;
}




#bottomTrans
{
    width: 100%;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(180deg, var(--main-body-color) 50%, var(--main-black-color) 50%);
}

#bottomCaptionDiv
{
    font-family: 'PanamaLight';
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: var(--main-white-color);
    color: var(--main-color);
    font-size: 35px;
    text-align: center;
    
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#contactDiv
{
    background: var(--main-black-color);
    width: 100%;
    height: 70px;
    padding: 20px;
    text-align: center;
}

#contactMe
{
    color: var(--main-white-color);
    font-size: 18px;
    text-align: center;
    
    transition: all .2s ease-in-out;
}


#contactMe:hover
{
    color: var(--secondary-color);
    
    transition: all .2s ease-in-out;
}

/*fonts*/

@font-face
{
    font-family: 'PanamaBold';
    src: url('/fonts/Panama-Bold.ttf');
}

@font-face
{
    font-family: 'PanamaLight';
    src: url('/fonts/Panama-Light.ttf');
}

@media (max-width: 680px)
{
    body
	{
		height: 1050px;
	}
	
	#titleName
	{
		font-size: 18px;
	}
	
	#loginBtn, #regBtn, #signOut
	{
		font-size: 10px;
	}
	
	#splashDiv
	{
		height: 250px;
		padding-left: 10px;
	}
	
	#learnMore
	{
		font-size: 18px
	}
	
	#servDivOut
    {
        padding: 30px;
    }
	
	#splashText
	{
		font-size: 18px;
	}
	
	#servTrans
	{
		padding-left: 50px;
		padding-right: 50px;
		height: 80px;
	}
	
	#servLabelDiv
	{
		font-size: 35px;
	}
	
	#servSub
	{
		font-size: 15px;
	}
	
	#servTextHair, #servTextTutor, #servTextNails, #servTextSalon, #servTextShoes, #servTextRepair, #servTextTailor, #servTextProducer, #servTextTrainer
	{

		opacity: 1;
		font-size: 18px;
	}
	
	#bottomCaptionDiv
	{
		font-size: 30px;
	}
	
	#contactDiv
	{
		height: 70px;
	}
}
